<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!--1.登录处理LoginServlet -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.bdqn.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<!--2.返回所有新闻信息的ListServlet -->
	<servlet>
		<servlet-name>ListServlet</servlet-name>
		<servlet-class>cn.bdqn.servlet.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>ListServlet</servlet-name>
	<url-pattern>/ListServlet</url-pattern>
	</servlet-mapping>
	
	
	<!--3.删除DelServlet -->
	<servlet>
		<servlet-name>DelServlet</servlet-name>
		<servlet-class>cn.bdqn.servlet.DelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>DelServlet</servlet-name>
	<url-pattern>/DelServlet</url-pattern>
	</servlet-mapping>
  	
  	
	<!--4.修改UpdateServlet -->
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>cn.bdqn.servlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>UpdateServlet</servlet-name>
	<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
  
  	
	<!--5.通过id修改Servlet -->
	<servlet>
		<servlet-name>UpdateByIdServlet</servlet-name>
		<servlet-class>cn.bdqn.servlet.UpdateByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>UpdateByIdServlet</servlet-name>
	<url-pattern>/UpdateByIdServlet</url-pattern>
	</servlet-mapping>
  
  
  <!--5.新增AddServlet -->
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>cn.bdqn.servlet.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>AddServlet</servlet-name>
	<url-pattern>/AddServlet</url-pattern>
	</servlet-mapping>
  
  
  
  <!--6.查询所有的新闻类别FindCategoryServlet -->
	<servlet>
		<servlet-name>FindCategoryServlet</servlet-name>
		<servlet-class>cn.bdqn.servlet.FindCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>FindCategoryServlet</servlet-name>
	<url-pattern>/FindCategoryServlet</url-pattern>
	</servlet-mapping>
</web-app>
